<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://miadashboard.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>miadashboard.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MiaDashboard</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MiaDashboard</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection1New" Order="5" Enabled="False">
          <Destination Path="Data Source=miaboard.database.windows.net;Initial Catalog=miaboard;User ID=miaboard;Password=yura1996A" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MiaBoard.Models.ApplicationDbContext, MiaBoard" MigrationConfiguration="MiaBoard.Migrations.Configuration, MiaBoard" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="7" Enabled="False">
          <Destination Path="Data Source=miaboard.database.windows.net;Initial Catalog=miaboard;User ID=miaboard;Password=yura1996A" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=FAYEVSKYY\SQLEXPRESS;Initial Catalog=MiaDashboard_loc_new01;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=FAYEVSKYY\SQLEXPRESS;Database=MiaDashboard_loc_new01;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KostetskiyDefaultConnection" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=KOSTETSKIY-PC\SQLEXPRESS;Initial Catalog=MiaDashboard_loc;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KostetskiyDefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=KOSTETSKIY-PC\SQLEXPRESS;Database=MiaDashboard_loc;Trusted_Connection=Yes;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=miaboard.database.windows.net;Initial Catalog=miaboard;User ID=miaboard;Password=yura1996A</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection1New-Web.config Connection String">
      <ParameterValue>Data Source=miaboard.database.windows.net;Initial Catalog=miaboard;User ID=miaboard;Password=yura1996A</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>