@model MiaBoard.Models.DataSource

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>DataSources</h1>

<div class="container">
    <h2>Modal Example</h2>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
    <div class="container">
        @Html.Partial("~/Views/DataSources/_DataSourceForm.cshtml", Model)
    </div>
    <table id="dataSources" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Data Source Type</th>
                <th>Server Name</th>
                <th>Database Name</th>
                <th>User Name</th>
                <th>Password</th>
                <th>ConnectionString</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#dataSources").DataTable({
                ajax: {
                    url: "/api/dataSources",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "type",
                        render: function (data, type, dataSource) {
                            return "<a href='/DataSources/Edit/" + dataSource.id + "'>" + dataSource.type + "</a>";
                        }
                    },
                    {
                        data: "serverName"
                    },
                    {
                        data: "databaseName"
                    },
                    {
                        data: "userName"
                    },
                    {
                        data: "password"
                    },
                    {
                        data: "connectionString"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn-link js-delete' data-dataSource-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
        });
        $("#dataSources").on("click", ".js-delete", function () {
            var button = $(this);

            bootbox.confirm("Are you sure you want to delete this dataSource?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/api/dataSources/" + button.attr("data-dataSource-id"),
                        method: "DELETE",
                        success: function () {
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });
    </script>
}
