<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>404 error page, clean and simple, page not found. - Bootsnipp.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- This link would go in your header tag -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <br>
                <h4>Mia's Dashboard Site</h4>
                <p><img src="http://docs.oracle.com/javafx/2/charts/img/pie-sample.png" alt=""></p>
                <h2>
                    <i class="fa fa-exclamation-triangle" style="color:red"></i>
                    Page not found <span style="font-size:28x;color:gray;">403 error</span>
                </h2>
                <p>
                    Well, this is embarrassing.
                    <br>
                </p>
                <p><a href="/Account/Login">Click here</a> to visit our home page</p>
            </div>
        </div>
    </div>
</body>
</html>
