<!-- Navigation Left-->

        <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 bhoechie-tab-container new-bhoechine-tab">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#"><i class="fa fa-users fa-fw"></i>User Groups</a></li>
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>User List</a></li>
                        <li><a href="#"><i class="fa fa-clipboard fa-fw"></i>Dashboard List</a></li>
                        <li><a href="#"><i class="fa fa-database fa-fw"></i>Datasource List</a></li>
                    </ul>
                </div>
            </div>
        </div>
<!-- End Navigation Left-->
