

/******************/


/* Navigation Top */


/******************/

#nav-bar-id {
    background-color: white;
    margin-bottom: 0;
}

.navbar {
    z-index: 10;
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
    border: 0;
    border-radius: 0;
    font-weight: 300;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar .navbar-toggle {
    border-color: rgba(255, 255, 255, 0.84);
}

#nav-bar-logo {
    color: black;
    font-weight: 500;
}

.navbar .navbar-brand {
    position: relative;
    height: 60px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.84);
}

.waves-effect {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.material-icons.md-48 {
    font-size: 40px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar .navbar-toggle .icon-bar {
    background-color: black;
}

.btn-flat {
    background-color: transparent;
    position: relative;
    padding: 8px 30px;
    border: none;
    margin: 10px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none !important;
}

.navbar .navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255, 255, 255, 1);
}

.waves-effect {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.z-depth-1,
.btn,
.btn-floating,
.card-panel,
.card,
.dropdown-content,
.dropdown-menu {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-primary {
    background: #4285F4;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-flat-two {
    position: relative;
    padding: 8px 30px !important;
    border: none;
    margin: 10px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none !important;
    margin-top: 8px;
    margin-top: 13px !important;
    border-radius: 2px !important;
    margin: 0;
}

#Logout-Btn {
    height: 40px;
    background-color: #2BBBAD;
    color: white;
    line-height: 31px;
    padding: 5px 22px;
    margin-top: 10px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
    outline: 0 !important;
}

#online-user {
    text-align: center;
}

.name-user {
    color: #3190e7;
    font-weight: 600;
    display: inline-block;
}


/******************/


/* Navigation Left*/


/******************/

div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-left: 50px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #4285F4;
}

div.bhoechie-tab-menu div.list-group>a:first-child {
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa {
    background-color: #4285F4;
    background-image: #4285F4;
    color: #ffffff;
}

div.bhoechie-tab-menu div.list-group>a.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #4285F4;
}

div.bhoechie-tab-content {
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}

.fa-fw {
    width: 2em;
}

.icon-main {
    font-size: 30px;
}

.new-bhoechine-tab{
    margin: 0;
    margin-top: 35px !important;
    margin-left: 0px !important;
}

.new-bhoechine-tab-main
{
	margin-top: 35px;
}

/******************/


/* Menu Icon      */


/******************/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/******************/


/* log in form    */


/******************/
#Login-Register-Container{
    background: #298eea;
    padding: 0;
    margin: 0;
    height: 100%;
}


#Register-Panel {
    margin-top: 15%;
    border: none;
    border-radius: 0;
    padding: 25px;
}

#Login-Panel {
    margin-top: 15%;
    border: none;
    border-radius: 0;
}
#No-Account,
#Log-Account{
    color: white;
    font-weight: 400;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-center {
    text-align: center;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-body {
    padding: 15px;
}
#log-in,
#reg-in{
    padding-top: 5%;
    font-weight: 300;
    color: #565656;
    margin: 0 auto 45px;
    font-size: 35px;
    line-height: 38px;
    text-transform: none;
    letter-spacing: 0;
}
.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.form-control {
    height: 45px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#Sign-up {
    text-decoration: underline;
    font-weight: 700;
    color: white;
}
.form-control {
    height: 45px;
}
.btn.btn-block {
    margin: 10px 0;
}

#Login-Btn,
#Registration-Btn{
    height: 40px;
    
    color: white;
    line-height: 31px;
    padding: 5px 22px;
    margin-top: 10px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-decoration: none;
    text-transform: uppercase;
    outline: 0 !important;
}
.font-login
{
    font-family: Roboto, sans-serif;
}
.bg-body
{
    background: #298eea;
}

.nav-padding
{
    padding: 10px;
}

.nav-bar-Login-text {
    color: #3190e7 !important;
    font-weight: 600;
    text-align: center;
}
/******************/


/* Navigation Left*/


/******************/

    @media (min-width: 992px) {
        .left-menu-padding {
            padding-left: 15px;
        }
    }

div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-left: 50px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #4285F4;
}

div.bhoechie-tab-menu div.list-group>a:first-child {
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa {
    background-color: #4285F4;
    background-image: #4285F4;
    color: #ffffff;
}

div.bhoechie-tab-menu div.list-group>a.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #4285F4;
}

div.bhoechie-tab-content {
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}

.fa-fw {
    width: 2em;
}

.icon-main {
    font-size: 30px;
}

.new-bhoechine-tab{
    margin: 0;
    margin-top: 35px !important;
    margin-left: 0px !important;
}

.new-bhoechine-tab-main
{
	margin-top: 35px;
}

/******************/


/* Menu Icon      */


/******************/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/******************/


/* log in form    */


/******************/
#Login-Register-Container{
    background: #298eea;
    padding: 0;
    margin: 0;
    height: 100%;
}


#Register-Panel {
    margin-top: 15%;
    border: none;
    border-radius: 0;
}

#Login-Panel {
    margin-top: 15%;
    border: none;
    border-radius: 0;
}
#No-Account,
#Log-Account{
    color: white;
    font-weight: 400;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-center {
    text-align: center;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-body {
    padding: 15px;
}
#log-in,
#reg-in{
    padding-top: 5%;
    font-weight: 300;
    color: #565656;
    margin: 0 auto 45px;
    font-size: 35px;
    line-height: 38px;
    text-transform: none;
    letter-spacing: 0;
}
.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.form-control {
    height: 45px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#Sign-up {
    text-decoration: underline;
    font-weight: 700;
    color: white;
}
.form-control {
    height: 45px;
}
.btn.btn-block {
    margin: 10px 0;
}

#Login-Btn,
#Registration-Btn{
    height: 40px;
    background-color: #2BBBAD;
    color: white;
    line-height: 31px;
    padding: 5px 22px;
    margin-top: 10px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-decoration: none;
    text-transform: uppercase;
    outline: 0 !important;
}
.font-login
{
    font-family: Roboto, sans-serif;
}
.bg-body
{
    background: #298eea;
}

#Register-Panel .form-control{
    text-align: center;
}

.rb-class-inline
{
    color: #555;
    font-size: 14px;
    text-align: center;
}
.panel-center-body
{
    text-align: center ;
}

/******************/
/* DrugAndDrop    */
/******************/

        .boardContainer
        {
            width: 100%;
        }




.tile-box {
        line-height: inherit;
        display: block;
        position: relative;
        height: auto;
        padding: 0;
        border-width: 1px;
        border-style: solid;
        color: #fff;
        background: rgb(87, 67, 255);
        border-color: black;

        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .tile-box-shortcut .bs-badge {
        left: auto;
        right: 10px;
        top: 10px;
        background: rgba(0,0,0,.5);
    }

    .bs-badge.badge-absolute {
        position: absolute;
        z-index: 5;
    }
    .badge, .bs-badge {
        font-size: 11px;
        font-weight: 700;
        line-height: 19px;
        display: inline-block;
        min-width: 20px;
        height: 20px;
        padding: 0 4px 0 5px;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        color: #fff;
        border-radius: 10px;
    }
    .tile-box-shortcut .tile-header {
        background: 0 0;
        padding: 0;
        position: absolute;
        right: 10px;
        bottom: 6px;
        font-size: 13px;
        font-weight: 400;
    }
    .tile-box-shortcut .tile-content-wrapper {
        padding: 0;
        min-height: 80px;
    }
    .tile-content-wrapper {
        position: relative;
        overflow: hidden;
        padding: 10px;
    }
    .tile-box-shortcut .tile-content-wrapper>.glyph-icon {
        position: absolute;
        left: 15px;
        top: 46px;
    }
    .tile-content-wrapper>.glyph-icon {
        font-size: 35px;
        line-height: 70px;
        position: absolute;
        top: 50%;
        left: 15px;
        height: 70px;
        margin-top: -36px;
        opacity: .3;
        -moz-opacity: .3;
        filter: alpha(opacity:30);
    }
    .glyph-icon {
        text-align: center;
    }

    .icon-settings
    {
        right: 194px;
        top: 5px;
        z-index: 5;
        display: inline-flex;
    }
    .new-ic-padding
    {
        padding: 10px;
    }
    .btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger ,
    .btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger,
    .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover,
    .btn-danger.focus, .btn-danger:focus,
    .btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover
    {
        color: #fff !important;
        background-color: #202bc9 !important;
        border-color: black !important;
    }
    .btn-danger:hover {
        color: #fff !important;
        background-color: #202bc9 !important;
        border-color: black !important;
    }

    .btn-danger{
        color: #fff !important;
        background-color: #428bca !important;
        border-color: black !important;
        
    }
.boardWorkspaceContainer .ui-sortable-handle .panel-heading {
    font-weight: bold;
    font-size: medium;
    text-align: left;
    color: #428bca;
    background-color: #f5f5f5;
    border-color: none; 
}
/**********************/
/* End DrugAndDrop    */
/**********************/

/*START YAROSLAV ~ FEELING BEAUTIFUL*/

#Login-Btn,
#Registration-Btn {
    background-color: #2bbb72;
}

.checkbox label, .radio label {
    padding-left: 0;
}

.text-danger {
    color: #ff3232;
}

#bs-example-navbar-collapse-1 .nav > li > a:hover#registerLink {
    background-color: #428bca;
}

@media (min-width: 768px) {
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}

.validation-summary-errors > ul {
    padding: 0;
    list-style-type: none;
    color: #ff3232;
}

.boardWorkspaceContainer {
    min-height: 254px;
}
/*END YAROSLAV ~ FEELING BEAUTIFUL*/



/******************/


/* Navigation Left*/


/******************/

div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-left: 50px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #4285F4;
}

div.bhoechie-tab-menu div.list-group>a:first-child {
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa {
    background-color: #4285F4;
    background-image: #4285F4;
    color: #ffffff;
}

div.bhoechie-tab-menu div.list-group>a.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #4285F4;
}

div.bhoechie-tab-content {
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}

.fa-fw {
    width: 2em;
}

.icon-main {
    font-size: 30px;
}

.new-bhoechine-tab{
    margin: 0;
    margin-top: 35px !important;
    margin-left: 0px !important;
}

.new-bhoechine-tab-main
{
	margin-top: 35px;
}

.menu-padding-item
{
    padding-top: 25px;
    padding-bottom: 25px;
}

    @media (min-width: 0px) and (max-width: 992px) {
        .menu-padding-item {
            text-align: center;
            border-top:0px;
            border-radius: 0px !important;
            -moz-border-radius: 0px !important;
            border: 1px solid #ddd !important;
        }
    }
    .btn-create-datasource {
        margin-bottom: 20px;
    }
    @media (min-width: 0px) and (max-width: 992px) {
        .btn-create-datasource {
            margin-top: 20px;
            margin-bottom: 20px;
        }

    }
    @media (min-width: 0px) and (max-width: 675px) {
        .own-board-btn {
            display: inline-block !important;
        }
        .panel-heading {
            text-align: center;
        }
    }

/******************/


/* End Navigation Left*/


/******************/


.padding-admin
{
    padding-left:15px;
    padding-right:15px;
}

/************************/


/* Dashboard and Dashlet*/


/************************/

    .boardContainer {
        width: 100%;
    }

    div.sortable {
        width: 100%;
    }

    div.flower {
        background-color: lightgreen;
    }

    .width-class {
        width: 100% !important;
    }

    .tile-box {
        line-height: inherit;
        display: block;
        position: relative;
        height: auto;
        padding: 0;
        border-width: 1px;
        border-style: solid;
        color: #fff;
        background: rgb(87, 67, 255);
        border-color: black;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .tile-box-shortcut .bs-badge {
        left: auto;
        right: 10px;
        top: 10px;
        background: rgba(0,0,0,.5);
    }

    .bs-badge.badge-absolute {
        position: absolute;
        z-index: 5;
    }

    .badge, .bs-badge {
        font-size: 11px;
        font-weight: 700;
        line-height: 19px;
        display: inline-block;
        min-width: 20px;
        height: 20px;
        padding: 0 4px 0 5px;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        color: #fff;
        border-radius: 10px;
    }

    .tile-box-shortcut .tile-header {
        background: 0 0;
        padding: 0;
        position: absolute;
        right: 10px;
        bottom: 6px;
        font-size: 13px;
        font-weight: 400;
    }

    .tile-box-shortcut .tile-content-wrapper {
        padding: 0;
        min-height: 80px;
    }

    .tile-content-wrapper {
        position: relative;
        overflow: hidden;
        padding: 10px;
    }

    .tile-box-shortcut .tile-content-wrapper > .glyph-icon {
        position: absolute;
        left: 15px;
        top: 46px;
    }

    .tile-content-wrapper > .glyph-icon {
        font-size: 35px;
        line-height: 70px;
        position: absolute;
        top: 50%;
        left: 15px;
        height: 70px;
        margin-top: -36px;
        opacity: .3;
        -moz-opacity: .3;
        filter: alpha(opacity:30);
    }

    .glyph-icon {
        text-align: center;
    }

    .icon-settings {
        right: 194px;
        top: 5px;
        z-index: 5;
        display: inline-flex;
    }

    .new-ic-padding {
        padding: 10px;
    }

    .btn-danger.active, .btn-danger:active, .open > .dropdown-toggle.btn-danger,
    .btn-danger.active, .btn-danger:active, .open > .dropdown-toggle.btn-danger,
    .open > .dropdown-toggle.btn-danger.focus, .open > .dropdown-toggle.btn-danger:focus, .open > .dropdown-toggle.btn-danger:hover,
    .btn-danger.focus, .btn-danger:focus,
    .btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open > .dropdown-toggle.btn-danger.focus, .open > .dropdown-toggle.btn-danger:focus, .open > .dropdown-toggle.btn-danger:hover {
        color: #fff;
        background-color: #202bc9;
        border-color: black;
    }

    .btn-danger:hover {
        color: #fff;
        background-color: #202bc9;
        border-color: black;
    }

    .emptySpace {
        border: medium dotted red;
        height: 193px;
        margin: 4px;
    }

    .own-board-style {
        border-radius: 4px;
        -moz-border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        background-clip: padding-box;
        opacity: 0.97;
    }

    .own-board-title {
        display: inline-block;
        font-weight: bold;
    }

    .own-board-btn {
        text-align: right;
        margin-top: -40px;
    }

    .ui-sortable-handle {
        border: 1px solid black;
    }

    .container-fluid .bhoechie-tab .bhoechie-tab-content {
        padding-left: 0;
    }

    .label-toggle-style {
        margin: 0;
        padding: 0;
    }

    #newDashlet {
        display: block;
        border: 1px solid black;
        z-index: 1000;
        position: absolute;
    }




/************************/


/* End Dashboard and Dashlet*/


/************************/


    .left-menu-padding .nav > li > a:hover,
    .left-menu-padding .nav > li > a:focus {
        background-color: #dff0d8;
    }

    .left-menu-padding .nav > li > a.selected-dashboard,
    .left-menu-padding .nav > li > a.selected-dashboard:hover,
    .left-menu-padding .nav > li > a.selected-dashboard:focus {
        color: white;
        background-color: darkseagreen;
        border: 1px solid teal;
    }

    .left-menu-padding .nav > li > a.selected-dashboard-super,
    .left-menu-padding .nav > li > a.selected-dashboard-super:hover,
    .left-menu-padding .nav > li > a.selected-dashboard-super:focus {
        color: white;
        background-color:  rgb(71, 170, 203);
        border: 1px solid teal;
    }
    
    .white-super{
        background:white;
    }
    .style-size-roles{
        font-size: 25px;
        color: #5bc0de;
        /*border: 1px solid #5bc0de !important;*/
        border:none !important;
    }
    .style-size-roles-content{
        font-size: 20px;
    }
    .super-table-style,
    .super-table-style tr,
    .super-table-style tr th,
    .super-table-style tr td
    {
        /*border: 1px solid #5bc0de;*/
        border:none;
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    background-color: #428bca;
}